#content {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: #000000;
  width: 750px;
}
.border {
  border: 1px solid #ccc;
}
#header {
  width: 750px;
  display: flex;
  align-items: center;
  margin: 50px auto -5px auto;
  font-weight: bold;
}
.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
#center {
  flex-grow: 1;
  display: flex;
  height: 60px;
}
.center-item {
  flex-grow: 1;
}
.center-item:nth-child(2) {
  height: 75px;
  position: relative;
  top: -17px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* position: relative; */
}
.circle:nth-child(1) {
  position: relative;
  right: -40px;
}
.circle:nth-child(3) {
  position: relative;
  left: -40px;
}
.team {
  text-align: center;
  width: 200px;
  height: 40px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team:nth-child(1),
.team:nth-child(2) {
  border-right: none;
}

.team:nth-child(4),
.team:nth-child(5) {
  border-left: none;
}

.team:nth-child(1),
.team:nth-child(5) {
  width: 90px;
  height: 70px;
  border-radius: 50%;
}

#details {
  width: 601px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  /* padding-left: 18px; */
  border-top: none;
  text-align: center;
  /* font-size: larger; */
}

.details-item {
  text-align: center;
}

#score {
  display: flex;
  justify-content: space-around;
}

.score-logo {
  font-size: 40px;
  margin-top: 15px;
}

.flag {
  width: 50px;
  height: 50px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  margin-top: 28px;
}

.buttons-column {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  margin-bottom: 8px;
  background-color: #626367;
  color: #f0f0f0;
  font-weight: bold;
  padding: 7px 37px;
  border-radius: 7px;
}
